.div-background{
    margin: 0px,;
    padding: 0;
    background-color: #E8E8E8;
}

.div-header{
    padding-bottom: 0px;
    padding-top:7px;
    background-color:#E0E0E0;
    border-width:1px;
    border-style:solid;
    border-color:gray;
}

.card{
    height: 650px;
}

.card-body{
    background-color: #E8E8E8;
}

.img-border{
    border-style: solid;
    border-width: 2px;
}

.media{
    height:400px;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color:#D8D8D8;
}

.border-headers{
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color:#C0C0C0;
}
